In [1]:
import ast
import json
import warnings

import pandas as pd
import snowflake.snowpark.functions as f
from snowflake.ml.modeling.impute import SimpleImputer
from snowflake.ml.modeling.metrics import accuracy_score
from snowflake.ml.modeling.model_selection import GridSearchCV
from snowflake.ml.modeling.preprocessing import OneHotEncoder
from snowflake.ml.modeling.xgboost import XGBClassifier
from snowflake.ml.registry import Registry
from snowflake.ml.utils.connection_params import SnowflakeLoginOptions
from snowflake.snowpark import Session
from snowflake.snowpark import types as T
from snowflake.snowpark.functions import col

warnings.simplefilter(action="ignore", category=UserWarning)

In [2]:
# Create Snowflake Session object
#connection_parameters = json.load(open('connection.json'))
#session = Session.builder.configs(connection_parameters).create()

from snowflake.snowpark.context import get_active_session
session = get_active_session()

session.sql_simplifier_enabled = True

In [ ]:
session.sql("CREATE DATABASE IF NOT EXISTS SNOWPARK;").collect()
session.sql("CREATE SCHEMA IF NOT EXISTS SNOWPARK.TITANIC;").collect()

session.use_database("SNOWPARK")
session.use_schema("TITANIC")

In [ ]:
session.sql("CREATE STAGE if not exists ML_DATA").collect()

In [ ]:
-- UPLOAD THE "TITANIC.CSV.GZ" file to @ML_DATA stage via Snowsight UI.

In [ ]:
# Create a Snowpark DataFrame that is configured to load data from the CSV file
titanic_df = (
    session.read.option("infer_schema", True)
    .option("PARSE_HEADER", True)
    .csv("@ML_DATA/titanic.csv.gz")
)# - UPPERCASE all column names to fix any mixed column names

#'@SNOWPARK.TITANIC.ML_DATA/titanic.csv'

titanic_df.show()

In [ ]:
# - UPPERCASE all column names to fix any mixed column names
for Mycol in titanic_df.columns:
    titanic_df = titanic_df.withColumnRenamed(Mycol, Mycol.upper())

In [ ]:
def fix_values(column):
    return f.upper(f.regexp_replace(f.col(column), "[^a-zA-Z0-9]+", "_"))


for col in ["SEX", "EMBARKED", "CLASS", "WHO", "EMBARK_TOWN"]:
    titanic_df = titanic_df.with_column(col, fix_values(col))

titanic_df.show()

In [ ]:
titanic_df.write.mode("overwrite").save_as_table("titanic")

In [3]:
titanic_df = session.table("titanic")

In [4]:
titanic_df.show()

-------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"SURVIVED"  |"PCLASS"  |"AGE"  |"SIBSP"  |"PARCH"  |"FARE"   |"ADULT_MALE"  |"DECK"  |"ALIVE"  |"ALONE"  |"SEX"   |"EMBARKED"  |"CLASS"  |"WHO"  |"EMBARK_TOWN"  |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------
|0           |3         |22.00  |1        |0        |7.2500   |True          |NULL    |False    |False    |MALE    |S           |THIRD    |MAN    |SOUTHAMPTON    |
|1           |1         |38.00  |1        |0        |71.2833  |False         |C       |True     |False    |FEMALE  |C           |FIRST    |WOMAN  |CHERBOURG      |
|1           |3         |26.00  |0        |0        |7.9250   |False         |NULL    |True     |True     |FEMALE  |S           |THIRD    |WOMAN  |SOUTHAMPTON    |
|1           |1         |35.00  |1        |0        |53.1000  |False         |C       |True     |False    |FEMALE  |S           |FIRST    |WOMAN  |SOUTHAMPTON    |
|0           |3         |35.00  |0        |0        |8.0500   |True          |NULL    |False    |True     |MALE    |S           |THIRD    |MAN    |SOUTHAMPTON    |
|0           |3         |NULL   |0        |0        |8.4583   |True          |NULL    |False    |True     |MALE    |Q           |THIRD    |MAN    |QUEENSTOWN     |
|0           |1         |54.00  |0        |0        |51.8625  |True          |E       |False    |True     |MALE    |S           |FIRST    |MAN    |SOUTHAMPTON    |
|0           |3         |2.00   |3        |1        |21.0750  |False         |NULL    |False    |False    |MALE    |S           |THIRD    |CHILD  |SOUTHAMPTON    |
|1           |3         |27.00  |0        |2        |11.1333  |False         |NULL    |True     |False    |FEMALE  |S           |THIRD    |WOMAN  |SOUTHAMPTON    |
|1           |2         |14.00  |1        |0        |30.0708  |False         |NULL    |True     |False    |FEMALE  |C           |SECOND   |CHILD  |CHERBOURG      |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [6]:
titanic_df = titanic_df.drop(
    ["AGE", "DECK", "ALIVE", "ADULT_MALE", "EMBARKED", "SEX", "PCLASS", "ALONE"]
)

In [7]:
titanic_df = titanic_df.withColumn("FARE", titanic_df["FARE"].astype(T.FloatType()))

titanic_df.show()

------------------------------------------------------------------------------
|"SURVIVED"  |"SIBSP"  |"PARCH"  |"CLASS"  |"WHO"  |"EMBARK_TOWN"  |"FARE"   |
------------------------------------------------------------------------------
|0           |1        |0        |THIRD    |MAN    |SOUTHAMPTON    |7.25     |
|1           |1        |0        |FIRST    |WOMAN  |CHERBOURG      |71.2833  |
|1           |0        |0        |THIRD    |WOMAN  |SOUTHAMPTON    |7.925    |
|1           |1        |0        |FIRST    |WOMAN  |SOUTHAMPTON    |53.1     |
|0           |0        |0        |THIRD    |MAN    |SOUTHAMPTON    |8.05     |
|0           |0        |0        |THIRD    |MAN    |QUEENSTOWN     |8.4583   |
|0           |0        |0        |FIRST    |MAN    |SOUTHAMPTON    |51.8625  |
|0           |3        |1        |THIRD    |CHILD  |SOUTHAMPTON    |21.075   |
|1           |0        |2        |THIRD    |WOMAN  |SOUTHAMPTON    |11.1333  |
|1           |1        |0        |SECOND   |CHILD  |CHERBOURG      |30.0708  |
------------------------------------------------------------------------------

In [8]:
cat_cols = ["CLASS", "WHO", "EMBARK_TOWN"]
num_cols = ["SIBSP", "PARCH", "FARE"]

In [9]:
impute_cat = SimpleImputer(
    input_cols=cat_cols,
    output_cols=cat_cols,
    strategy="most_frequent",
    drop_input_cols=True,
)

titanic_df = impute_cat.fit(titanic_df).transform(titanic_df)
titanic_df.show()

------------------------------------------------------------------------------
|"CLASS"  |"WHO"  |"EMBARK_TOWN"  |"SURVIVED"  |"SIBSP"  |"PARCH"  |"FARE"   |
------------------------------------------------------------------------------
|THIRD    |MAN    |SOUTHAMPTON    |0           |1        |0        |7.25     |
|FIRST    |WOMAN  |CHERBOURG      |1           |1        |0        |71.2833  |
|THIRD    |WOMAN  |SOUTHAMPTON    |1           |0        |0        |7.925    |
|FIRST    |WOMAN  |SOUTHAMPTON    |1           |1        |0        |53.1     |
|THIRD    |MAN    |SOUTHAMPTON    |0           |0        |0        |8.05     |
|THIRD    |MAN    |QUEENSTOWN     |0           |0        |0        |8.4583   |
|FIRST    |MAN    |SOUTHAMPTON    |0           |0        |0        |51.8625  |
|THIRD    |CHILD  |SOUTHAMPTON    |0           |3        |1        |21.075   |
|THIRD    |WOMAN  |SOUTHAMPTON    |1           |0        |2        |11.1333  |
|SECOND   |CHILD  |CHERBOURG      |1           |1        |0        |30.0708  |
------------------------------------------------------------------------------

In [10]:
OHE = OneHotEncoder(
    input_cols=cat_cols,
    output_cols=cat_cols,
    drop_input_cols=True,
    drop="first",
    handle_unknown="ignore",
)

titanic_df = OHE.fit(titanic_df).transform(titanic_df)
titanic_df.show()

--------------------------------------------------------------------------------------------------------------------------------------------------------------
|"CLASS_SECOND"  |"CLASS_THIRD"  |"WHO_MAN"  |"WHO_WOMAN"  |"EMBARK_TOWN_QUEENSTOWN"  |"EMBARK_TOWN_SOUTHAMPTON"  |"SURVIVED"  |"SIBSP"  |"PARCH"  |"FARE"   |
--------------------------------------------------------------------------------------------------------------------------------------------------------------
|0.0             |1.0            |1.0        |0.0          |0.0                       |1.0                        |0           |1        |0        |7.25     |
|0.0             |0.0            |0.0        |1.0          |0.0                       |0.0                        |1           |1        |0        |71.2833  |
|0.0             |1.0            |0.0        |1.0          |0.0                       |1.0                        |1           |0        |0        |7.925    |
|0.0             |0.0            |0.0        |1.0          |0.0                       |1.0                        |1           |1        |0        |53.1     |
|0.0             |1.0            |1.0        |0.0          |0.0                       |1.0                        |0           |0        |0        |8.05     |
|0.0             |1.0            |1.0        |0.0          |1.0                       |0.0                        |0           |0        |0        |8.4583   |
|0.0             |0.0            |1.0        |0.0          |0.0                       |1.0                        |0           |0        |0        |51.8625  |
|0.0             |1.0            |0.0        |0.0          |0.0                       |1.0                        |0           |3        |1        |21.075   |
|0.0             |1.0            |0.0        |1.0          |0.0                       |1.0                        |1           |0        |2        |11.1333  |
|1.0             |0.0            |0.0        |0.0          |0.0                       |0.0                        |1           |1        |0        |30.0708  |
--------------------------------------------------------------------------------------------------------------------------------------------------------------

In [11]:
train_df, test_df = titanic_df.random_split(weights=[0.8, 0.2], seed=8)

In [12]:
parameters = {
    "n_estimators": [100, 200, 300, 400, 500],
    "learning_rate": [0.1, 0.2, 0.3, 0.4, 0.5],
    "max_depth": list(range(3, 6, 1)),
    "min_child_weight": list(range(1, 6, 1)),
}

In [13]:
parameters

{'n_estimators': [100, 200, 300, 400, 500],
 'learning_rate': [0.1, 0.2, 0.3, 0.4, 0.5],
 'max_depth': [3, 4, 5],
 'min_child_weight': [1, 2, 3, 4, 5]}

In [14]:
session.sql(
    f"ALTER WAREHOUSE {session.get_current_warehouse()[1:-1]} SET WAREHOUSE_SIZE=LARGE;"
).collect()

[Row(status='Statement executed successfully.')]

Data scientists may not have the ability to change the warehouse size.  They will usually have access to a larger warehouse and can easily switch as well using session.use_warehouse('bigger_warehouse')

In [15]:
grid_search = GridSearchCV(
    estimator=XGBClassifier(),
    param_grid=parameters,
    n_jobs=-1,
    scoring="accuracy",
    input_cols=train_df.drop("SURVIVED").columns,
    label_cols="SURVIVED",
    output_cols="PRED_SURVIVED",
)

# Train
grid_search.fit(train_df)

Package 'fastparquet' is not installed in the local environment. Your UDF might not work when the package is installed on the server but not on your local environment.

In [16]:
session.sql(
    f"ALTER WAREHOUSE {session.get_current_warehouse()[1:-1]} SET WAREHOUSE_SIZE=XSMALL;"
).collect()

[Row(status='Statement executed successfully.')]

In [17]:
result = grid_search.predict(test_df)

In [18]:
accuracy = accuracy_score(
    df=result, y_true_col_names="SURVIVED", y_pred_col_names="PRED_SURVIVED"
)

print(f"Accuracy: {accuracy}")

Accuracy: 0.819149

In [20]:
# Print each combination of hyperparameters with their accuracy
results = grid_search.to_sklearn().cv_results_
data = {"accuracy": results["mean_test_score"]}
for i, param in enumerate(results["params"]):
    for key, value in param.items():
        if key not in data:
            data[key] = [None] * len(results["params"])
        data[key][i] = value

# Create DataFrame
hp_df = pd.DataFrame(data).sort_values(by="accuracy", ascending=False)
hp_df.head()

     accuracy  learning_rate  max_depth  min_child_weight  n_estimators
94   0.822148            0.2          3                 4           500
311  0.820760            0.5          3                 3           200
216  0.820760            0.3          5                 4           200
114  0.820750            0.2          4                 3           500
299  0.820740            0.4          5                 5           500

# Model Registry

In [21]:
optimal_model = grid_search.to_sklearn().best_estimator_

In [22]:
# create function to add one to our model versions if it already exists


def check_and_update(df, model_name):
    if df.empty:
        return "V_1"
    elif df[df["name"] == model_name].empty:
        return "V_1"
    else:
        # Increment model_version if df is not a pandas Series
        lst = sorted(ast.literal_eval(df["versions"][0]))
        last_value = lst[-1]
        prefix, num = last_value.rsplit("_", 1)
        new_last_value = f"{prefix}_{int(num)+1}"
        lst[-1] = new_last_value
        return new_last_value

In [23]:
# Get sample input data to pass into the registry logging function
X = train_df.drop("SURVIVED").limit(100)

# Create a registry and log the model
# You can specify a different DB and Schema if you'd like
# otherwise it uses the session context
reg = Registry(session=session)

reg_df = reg.show_models()

# Define model name and version (use uppercase for name)
model_name = "TITANIC"

model_version = check_and_update(reg_df, model_name)

titanic_model = reg.log_model(
    model_name=model_name,
    version_name=model_version,
    model=optimal_model,
    sample_input_data=X,
)

# Add evaluation metric
titanic_model.set_metric(
    metric_name="accuracy",
    value=hp_df["accuracy"][0],
)

In [24]:
reg.show_models()

,created_on,name,database_name,schema_name,comment,owner,default_version_name,versions
0,2024-05-01 11:31:43.738000-04:00,TITANIC,SNOWPARK,TITANIC,None,SYSADMIN,V_1,"[""V_1""]"

In [25]:
hyperparameters = {
    k: v for k, v in optimal_model.get_params().items() if v and k != "missing"
}
titanic_model.set_metric(metric_name="hyperparameters", value=hyperparameters)

In [26]:
pd.options.display.max_colwidth = 500
reg.get_model(model_name).show_versions()

,created_on,name,comment,database_name,schema_name,module_name,is_default_version,functions,metadata,user_data
0,2024-05-01 11:31:43.790000-04:00,V_1,None,SNOWPARK,TITANIC,TITANIC,true,"[""PREDICT_PROBA"",""PREDICT"",""APPLY""]","{""metrics"": {""accuracy"": 0.8093617021276595, ""hyperparameters"": {""objective"": ""binary:logistic"", ""learning_rate"": 0.2, ""max_depth"": 3, ""min_child_weight"": 4, ""n_estimators"": 500, ""n_jobs"": 3}}, ""snowpark_ml_schema_version"": ""2024-01-01""}","{""snowpark_ml_data"":{""functions"":[{""name"":""APPLY"",""signature"":{""inputs"":[{""name"":""CLASS_SECOND"",""type"":""DOUBLE""},{""name"":""CLASS_THIRD"",""type"":""DOUBLE""},{""name"":""WHO_MAN"",""type"":""DOUBLE""},{""name"":""WHO_WOMAN"",""type"":""DOUBLE""},{""name"":""EMBARK_TOWN_QUEENSTOWN"",""type"":""DOUBLE""},{""name"":""EMBARK_TOWN_SOUTHAMPTON"",""type"":""DOUBLE""},{""name"":""SIBSP"",""type"":""INT8""},{""name"":""PARCH"",""type"":""INT8""},{""name"":""FARE"",""type"":""DOUBLE""}],""outputs"":[{""name"":""output_feature_0"",""type"":""FLOAT""},{""name"":""output_featur..."

If you have multiple versions of the model, we want the UDF to be deployed as the version with the highest accuracy

In [27]:
reg_df = reg.get_model(model_name).show_versions()
reg_df["accuracy"] = reg_df["metadata"].apply(
    lambda x: json.loads(x)["metrics"]["accuracy"]
)
best_model = reg_df.sort_values(by="accuracy", ascending=False)

In [28]:
deployed_version = best_model["name"].iloc[0]
deployed_version

'V_1'

Set the default version to the deployed version (best model)

In [29]:
m = reg.get_model(model_name)
m.default = deployed_version
mv = m.default
mv.version_name

'V_1'

In [30]:
remote_prediction = mv.run(test_df, function_name="predict_proba")
remote_prediction.show()

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"CLASS_SECOND"  |"CLASS_THIRD"  |"WHO_MAN"  |"WHO_WOMAN"  |"EMBARK_TOWN_QUEENSTOWN"  |"EMBARK_TOWN_SOUTHAMPTON"  |"SURVIVED"  |"SIBSP"  |"PARCH"  |"FARE"    |"output_feature_0"     |"output_feature_1"    |
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|0.0             |1.0            |1.0        |0.0          |1.0                       |0.0                        |0           |0        |0        |8.4583    |0.9589072465896606     |0.041092731058597565  |
|0.0             |0.0            |1.0        |0.0          |0.0                       |1.0                        |0           |0        |0        |51.8625   |0.8610950708389282     |0.13890492916107178   |
|0.0             |1.0            |0.0        |0.0          |0.0                       |1.0                        |0           |3        |1        |21.075    |0.8630478382110596     |0.13695217669010162   |
|1.0             |0.0            |0.0        |0.0          |0.0                       |0.0                        |1           |1        |0        |30.0708   |0.005812287330627441   |0.9941877126693726    |
|0.0             |1.0            |1.0        |0.0          |0.0                       |1.0                        |0           |1        |5        |31.275    |0.8883638978004456     |0.11163610219955444   |
|1.0             |0.0            |0.0        |1.0          |0.0                       |1.0                        |1           |0        |0        |16.0      |0.029041707515716553   |0.9709582924842834    |
|0.0             |1.0            |0.0        |0.0          |0.0                       |1.0                        |0           |3        |1        |21.075    |0.8630478382110596     |0.13695217669010162   |
|0.0             |1.0            |1.0        |0.0          |0.0                       |1.0                        |0           |0        |0        |7.8958    |0.9779325723648072     |0.022067449986934665  |
|0.0             |0.0            |0.0        |1.0          |0.0                       |0.0                        |1           |1        |0        |146.5208  |0.0013046860694885254  |0.9986953139305116    |
|0.0             |0.0            |1.0        |0.0          |0.0                       |0.0                        |0           |1        |0        |82.1708   |0.3023839592933655     |0.6976160407066345    |
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [31]:
# To test in SQL write test data back to a table

test_df.write.mode("overwrite").save_as_table("TEST_DATA")

## Add images to stage for Streamlit App

In [31]:
session.file.put("../streamlit_images/*", "@ML_DATA")

[PutResult(source='floating.webp', target='floating.webp.gz', source_size=205540, target_size=0, source_compression='NONE', target_compression='GZIP', status='SKIPPED', message=''),
 PutResult(source='flying.webp', target='flying.webp.gz', source_size=77798, target_size=0, source_compression='NONE', target_compression='GZIP', status='SKIPPED', message=''),
 PutResult(source='sinking.webp', target='sinking.webp.gz', source_size=148802, target_size=0, source_compression='NONE', target_compression='GZIP', status='SKIPPED', message='')]

## Calling Model from SQL

In [32]:
#Copy this code in a snowflake worksheet or run via session.sql
inference_df = session.sql('''
select *, TITANIC!predict_proba(*):output_feature_0
as surv_pred
from (
select * exclude survived
from test_data)
            ''')
inference_df.show()

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"CLASS_SECOND"  |"CLASS_THIRD"  |"WHO_MAN"  |"WHO_WOMAN"  |"EMBARK_TOWN_QUEENSTOWN"  |"EMBARK_TOWN_SOUTHAMPTON"  |"SIBSP"  |"PARCH"  |"FARE"    |"SURV_PRED"            |
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|0.0             |1.0            |1.0        |0.0          |1.0                       |0.0                        |0        |0        |8.4583    |0.9589072465896606     |
|0.0             |0.0            |1.0        |0.0          |0.0                       |1.0                        |0        |0        |51.8625   |0.8610950708389282     |
|0.0             |1.0            |0.0        |0.0          |0.0                       |1.0                        |3        |1        |21.075    |0.8630478382110596     |
|1.0             |0.0            |0.0        |0.0          |0.0                       |0.0                        |1        |0        |30.0708   |0.005812287330627441   |
|0.0             |1.0            |1.0        |0.0          |0.0                       |1.0                        |1        |5        |31.275    |0.8883638978004456     |
|1.0             |0.0            |0.0        |1.0          |0.0                       |1.0                        |0        |0        |16.0      |0.029041707515716553   |
|0.0             |1.0            |0.0        |0.0          |0.0                       |1.0                        |3        |1        |21.075    |0.8630478382110596     |
|0.0             |1.0            |1.0        |0.0          |0.0                       |1.0                        |0        |0        |7.8958    |0.9779325723648071     |
|0.0             |0.0            |0.0        |1.0          |0.0                       |0.0                        |1        |0        |146.5208  |0.0013046860694885254  |
|0.0             |0.0            |1.0        |0.0          |0.0                       |0.0                        |1        |0        |82.1708   |0.3023839592933655     |
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# Calling model from a new notebook

In [33]:
# Point to the registry

reg = Registry(session=session)

# Get the default version of your model (Model with best accuracy in our case)

mv = reg.get_model("titanic").default

remote_prediction = mv.run(test_df, function_name="predict_proba")
remote_prediction.drop('"output_feature_0"').with_column_renamed(
    '"output_feature_1"', "pred_survived"
).show()

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"CLASS_SECOND"  |"CLASS_THIRD"  |"WHO_MAN"  |"WHO_WOMAN"  |"EMBARK_TOWN_QUEENSTOWN"  |"EMBARK_TOWN_SOUTHAMPTON"  |"SURVIVED"  |"SIBSP"  |"PARCH"  |"FARE"    |"PRED_SURVIVED"       |
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|0.0             |1.0            |1.0        |0.0          |1.0                       |0.0                        |0           |0        |0        |8.4583    |0.041092731058597565  |
|0.0             |0.0            |1.0        |0.0          |0.0                       |1.0                        |0           |0        |0        |51.8625   |0.13890492916107178   |
|0.0             |1.0            |0.0        |0.0          |0.0                       |1.0                        |0           |3        |1        |21.075    |0.13695217669010162   |
|1.0             |0.0            |0.0        |0.0          |0.0                       |0.0                        |1           |1        |0        |30.0708   |0.9941877126693726    |
|0.0             |1.0            |1.0        |0.0          |0.0                       |1.0                        |0           |1        |5        |31.275    |0.11163610219955444   |
|1.0             |0.0            |0.0        |1.0          |0.0                       |1.0                        |1           |0        |0        |16.0      |0.9709582924842834    |
|0.0             |1.0            |0.0        |0.0          |0.0                       |1.0                        |0           |3        |1        |21.075    |0.13695217669010162   |
|0.0             |1.0            |1.0        |0.0          |0.0                       |1.0                        |0           |0        |0        |7.8958    |0.022067449986934665  |
|0.0             |0.0            |0.0        |1.0          |0.0                       |0.0                        |1           |1        |0        |146.5208  |0.9986953139305116    |
|0.0             |0.0            |1.0        |0.0          |0.0                       |0.0                        |0           |1        |0        |82.1708   |0.6976160407066345    |
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## To delete your model and all of it's versions

In [33]:
#reg.delete_model("TITANIC")